.card-container{
    padding: 10px;
    border: 1px solid black;
}

.card{
    box-shadow: 6px 6px lightgrey
}

.card p{
    height: 60%;
    overflow: scroll;

}

.card, .card p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    border: 1px solid black;
}

.card button{
    margin: 5px;
}

.card img{
    width: 175px;
    height: 175px;
    border: 4px solid black;
}