.card-container{
    padding: 10px;
    border: 1px solid black;
}

.card{
    padding: 15px;
    border: 1px solid black;
}

.card button{
    margin: 5px;
}

.card img{
    border: 4px solid black;
}